
@{
    ViewBag.Title = "IdeaDetail";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="container-fluid">
    <!-- Changelogs -->
    <div class="block-header">
        <h2>Idea Detail</h2>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        HackDay Tool / Website
                        <br /><br />
                        <small>By : Nell Sorensen</small>
                        <small>Submitted on : 1st July 2019</small>
                    </h2>

                    <ul class="header-dropdown m-r--5">
                        <a href="/user/dashboard" class="btn bg-green waves-effect">BACK</a>
                    </ul>
                </div>
                <div class="body">
                    <h6>
                        Descripion
                    </h6>

                    <p>- Hackdays are currently run on Google forms and google docs. </p>
                    <p>- It is all a bit messy. This project would create a website to house all the documents, create a nice way for people to find projects / submit ideas, and sign up for the final presentation.</p>
                    <p>- Generally, provide a one-stop shop for all things hackday </p>


                    <h6>
                        Tags
                    </h6>
                    <div>
                        <span class="tag label label-info">Amsterdam<span data-role="remove"></span></span>
                        <span class="tag label label-info">Amsterdam<span data-role="remove"></span></span>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Modern, Agile Data Dictionary

                        <br /><br />
                        <small>By : Nell Sorensen</small>
                        <small>Submitted on : 1st July 2019</small>
                    </h2>

                    @*<ul class="header-dropdown m-r--5">
                            <a href="/user/dashboard" class="btn bg-green waves-effect">BACK</a>
                        </ul>*@
                </div>
                <div class="body">
                    <h6>
                        Descripion
                    </h6>

                    <p>Our Snowflake data warehouse star schema has many tables & fields that evolve rapidly so “static” forms of documentation like go/tlog and go/tlog_dictionary can easily become out of date. As close as we can keep the documentation close to the code will help alleviate a stale data dictionary so that new users can on-board quickly and tenured folks have a up-to-date source (comments). Can you figure out a better way? Some idea starters:
                    <p>--Mode has concept of shared "definitions" (kinda lacking though https://mode.com/help/articles/definitions/ ),</p>
                    <p>--Certain BI tools like Looker help w metadata/logical-layer https://looker.com/platform/blocks/embedded/create-a-data-dictionary well</p>
                    <p>--Perhaps a SaaS solution like Vertabelo https://www.vertabelo.com/</p>
                    <p>--Or maybe find something open-source we can potentially combine with isc-dw-client https://github.com/infoscout/isc-dw-client which already defines columns/joins/etc. </p>
                    <p>- It is all a bit messy. This project would create a website to house all the documents, create a nice way for people to find projects / submit ideas, and sign up for the final presentation.</p>
                    <p>- Generally, provide a one-stop shop for all things hackday </p>


                    <h6>
                        Tags
                    </h6>
                    <div>
                        <span class="tag label label-info">Amsterdam<span data-role="remove"></span></span>
                        <span class="tag label label-info">Amsterdam<span data-role="remove"></span></span>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>