
@{
    ViewBag.Title = "PendingRequest";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="row clearfix">
    <!-- Colorful Panel Items With Icon -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Pending Request
                </h2>
                @*<button class="btn header-dropdown m-r-5 bg-green-heavy " style="">Submit Idea</button>*@

            </div>
            <div class="body">
                <ul class="list-group">
                    <li class="list-group-item"><a href="/user/IdeaDetail">Ad Intel Audio to Text to Entity/Topic </a><span class="badge bg-orange">Pending</span></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #END# Colorful Panel Items With Icon -->
</div>