
@{
    ViewBag.Title = "PendingRequest";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="row clearfix">
    <!-- Colorful Panel Items With Icon -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Pending Request
                </h2>
                @*<button class="btn header-dropdown m-r-5 bg-green-heavy " style="">Submit Idea</button>*@

            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                        <div class="panel-group" id="Q12019" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-col-teal">
                                <div class="panel-heading" role="tab" id="headingThree_18">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#Q12019" href="#Q120191" aria-expanded="false"
                                           aria-controls="Q120191">
                                            <i class="material-icons">contact_phone</i> HackDay Tool / Website
                                        </a>
                                    </h4>
                                </div>
                                <div id="Q120191" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree_18">
                                    <div class="panel-body js-sweetalert">
                                        Hackdays are currently run on Google forms and google docs. It is all a bit messy. This project would create a website to house all the documents, create a nice way for people to find projects / submit ideas, and sign up for the final presentation. Generally, provide a one-stop shop for all things hackday
                                        &nbsp;&nbsp;&nbsp;
                                        <button class="btn btn-xs btn-warning" data-toggle="tooltip" data-placement="top" title="" data-original-title="Join Team" data-type="join-team">
                                            Team A :
                                            <i class="material-icons">arrow_upward</i>
                                        </button>&nbsp;&nbsp;&nbsp;

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-col-teal">
                                <div class="panel-heading" role="tab" id="headingThree_18">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#Q12019" href="#Q1201912" aria-expanded="false"
                                           aria-controls="Q1201912">
                                            <i class="material-icons">contact_phone</i> eReceipt as a Service
                                        </a>
                                    </h4>
                                </div>
                                <div id="Q1201912" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree_18">
                                    <div class="panel-body">
                                        Prototype architecture for eReceipt as a service. It places considerable load on our primary transactional database, has different production architecture requirements than the consumer stack and functionally a good candidate to belong under its own environment.
                                        <span class="btn btn-xs btn-info">Create Team</span>
                                    </div>

                                </div>
                            </div>
                            <div class="panel panel-col-teal">
                                <div class="panel-heading" role="tab" id="headingThree_18">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#Q12019" href="#Q1201913" aria-expanded="false"
                                           aria-controls="Q1201913">
                                            <i class="material-icons">contact_phone</i> Ad Intel Audio to Text to Entity/Topic
                                            <span class="btn btn-xs btn-warning" style="float: right;">Appoval Pending</span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="Q1201913" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree_18">
                                    <div class="panel-body">
                                        Can we scale out one of the key competitive advantages to our Ad Intel platform - our ability to categorize and classify different ad content/creatives by using the audio (and potentially video content) automatically via audio transcription text analysis and video tagging?
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Colorful Panel Items With Icon -->
</div>