
@{
    ViewBag.Title = "PendingRequest";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="row clearfix">
    <!-- Colorful Panel Items With Icon -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Pending Request
                </h2>
                @*<button class="btn header-dropdown m-r-5 bg-green-heavy " style="">Submit Idea</button>*@

            </div>
            <div class="body">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio <span class="badge bg-pink">14 new</span></li>
                    <li class="list-group-item">Dapibus ac facilisis in <span class="badge bg-cyan">99 read</span></li>
                    <li class="list-group-item">Morbi leo risus <span class="badge bg-teal">99+</span></li>
                    <li class="list-group-item">Porta ac consectetur ac <span class="badge bg-orange">21</span></li>
                    <li class="list-group-item">Vestibulum at eros <span class="badge bg-purple">18</span></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #END# Colorful Panel Items With Icon -->
</div>