
@{
    ViewBag.Title = "Terms and Condition";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="block-header">
        <h2>@*Terms And Conditions*@</h2>
    </div>


    <!-- Basic Examples -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Terms And Conditions
                    </h2>

                    <ul class="header-dropdown m-r--5">
                        <a href="/admin/dashboard" class="btn bg-green waves-effect">BACK</a>
                    </ul>
                </div>
                <div class="body">
                    <h2>Numerator Q2 2019 Hack Day</h2>
                    <p>July 11th and 12th, 2019</p>
                    <h4>What is Hack day?</h4>
                    <p>
                        Each quarter we set aside time to work on small projects that can be completed in 2 days. These projects can be to explore different ideas, such as an engineering hack
                        building some new tool, data hack exploring some new way to look at old data, culture hacks exploring new ideas to foster cross-collaboration, digital marking hacks, sales
                        materials, etc. The hack days are to foster creativity and innovation muscles by exploring something new, learning, and even failing. Go push boundaries and failing is
                        okay--we even have a category for failed hacks. The final piece is that "done is better than perfect", we want to get that project to a "done" state in 48 hours.  Afterward,
                        every team presents what they did and what they found, built, or learned to a larger group.
                    </p>
                    <h4>Hack Projects</h4>
                    <p>
                        Don't know where to get started? Check this document for a list of great idea starters submitted by R&D leadership and feel free to sign up for a hack. Please start planning your hacks and teams now and make sure to review your hack ideas with your manager by July 8th.
                    </p>
                    <h4>Useful Tools</h4>
                    <p>
                        If you need AWS resources or an account that has access to Numerator systems, here is a link to instructions
                    </p>
                    <h4>Format</h4>
                    <ul>
                        <li>When: 48 hour hack day on July 11th and 12th</li>
                        <ul>
                            <li>
                                Please remember to review any hack with your manager by July 8th
                            </li>
                        </ul>
                        <li>Demos: Two demo rounds will take place in the following weeks (see the section below).</li>
                        <li>Teams: Solo hacks are allowed although team hacks are encouraged. Teaming Product and Engineering with Sales and Services tends to lead to successful high-impact hacks. Keep to 5 people max.</li>
                        <ul>
                            <li>
                                If you need help connecting with someone on the engineering team, contact Dan Dodd, Jay Hetler, or Jim Reed.
                            </li>
                            <li>If you need help connecting with someone on the product team, contact Prabhath Nanisetty</li>
                            <li>If you need help connecting with someone on the sales & services team, contact Jason Goldrosen</li>
                        </ul>
                        <li>Mauris a ante neque.</li>
                        <li>Aenean ut magna lobortis nunc feugiat sagittis.</li>
                    </ul>
                    <h4>Award Categories and Rubric</h4>
                    <p>An award will be given to the top hack in each of the following categories</p>
                    <ul>
                        <li>Best Engineering Hack</li>
                        <li>Best Non-Engineering Hack</li>
                        <li>Best Failed Hack</li>
                    </ul>
                    <p>
                        Hacks will be graded on the following rubric.
                    </p>
                    <ul>
                        <li>Learning & New technology</li>
                        <ul>
                            <li>
                                Aligning with our value of Relentless Curiosity, was there a lot learned during the hack, a new technology? We need to strive to expand our toolsets and learn if we are to stay ahead.
                            </li>
                        </ul>
                        <li>Creativity </li>
                        <ul>
                            <li>
                                How non-obvious is the idea? Bonus pts for blending together multiple data sources together in a creative and unique way.

                            </li>
                        </ul>
                        <li>Technical achievement / Hard Problem</li>
                        <ul>
                            <li>
                                Aligning with our value of Relentless Curiosity, was there a lot learned during the hack, a new technology? We need to strive to expand our toolsets and learn if we are to stay ahead.
                            </li>
                        </ul>
                        <li>Simplify & Scale</li>
                        <ul>
                            <li>
                                Does this simply an existing workflow or system? Does this enable greater scale either from the workforce or a system?
                            </li>
                        </ul>
                        <li>Commercial Impact</li>
                        <ul>
                            <li>
                                If this is a new product offering or upsell opportunity, does it solve a repeatable core customer need? If this is an enhancement to an existing product, does this fundamentally change retention and NPS? If it is operations focused, what is the impact on data quality or automation? Is this a hack that could be productized quickly?
                            </li>
                        </ul>
                    </ul>
                    <h4>Demos</h4>
                    <p>A signup form for the presentations will be sent out around the start of Hack Day. Submit the form with your team info (1 per team) and we will schedule you in the proper section.</p>
                    <p><i>First Round</i></p>
                    <p>All hacks will present in the first round of demos to their product-focused teams. Each demo will be five minutes max and hacks will be graded per the rubric identified above. The first round demo audiences will be segmented by OmniPanel/Insights, eCommerce, and Promo/Ad-Intel. </p>
                    <p><b>Note:</b> the India teams will have a separate demo round and will present with the Promo/Ad-Intel groups.</p>
                    <p><i>Company Wide Demo</i></p>
                    <p>Five hacks will be chosen from the first round, using the rubric above, to participate in an hour-long company wide demo. Each hack will be given 10 minutes - 7 for presenting and 3 for follow-up Q&A. </p>
                    <p>Both rounds will be recorded for everyone to watch if they are unable to attend the live demo. Both demo rounds will be graded by a panel of product & eng leaders (to be determined).</p>
                    <h4>FAQ</h4>
                    <p><i>What are the awards?</i></p>
                    <ul>
                        <li>
                            Best Engineering Hack
                        </li>
                        <li>
                            Best Non-Engineering Hack
                        </li>
                        <li>Best Failed Hack</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Basic Examples -->

</div>