
@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <div class="block-header">
        <h2>Manage User</h2>
    </div>
    <!-- Basic Examples -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Team List
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>Team Name</th>
                                    <th>Definition</th>
                                    <th>Total Members</th>
                                    <th>Edit</th>

                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Team Name</th>
                                    <th>Definition</th>
                                    <th>Total Members</th>
                                    <th>Edit</th>

                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <td>Team1</td>
                                    <td>Project</td>
                                    <td>5</td>
                                    <td> <a href="Admin-Team-AddEdit.html" class="btn btn-info waves-effect">EDIT</a></td>

                                </tr>
                                <tr>
                                    <td>Team2</td>
                                    <td>Project1</td>
                                    <td>2</td>
                                    <td> <a href="Admin-Team-AddEdit.html" class="btn btn-info waves-effect">EDIT</a></td>

                                </tr>
                                <tr>
                                    <td>Team4</td>
                                    <td>Project2</td>
                                    <td>5</td>
                                    <td> <a href="Admin-Team-AddEdit.html" class="btn btn-info waves-effect">EDIT</a></td>

                                </tr>
                                <tr>
                                    <td>Team5</td>
                                    <td>Project3</td>
                                    <td>4</td>
                                    <td> <a href="Admin-Team-AddEdit.html" class="btn btn-info waves-effect">EDIT</a></td>
                                </tr>
                                <tr>
                                    <td>Team3</td>
                                    <td>Project4</td>
                                    <td>2</td>
                                    <td> <a href="Admin-Team-AddEdit.html" class="btn btn-info waves-effect">EDIT</a></td>

                                </tr>
                                <tr>
                                    <td>Team7</td>
                                    <td>Project5</td>
                                    <td>2</td>
                                    <td> <a href="Admin-Team-AddEdit.html" class="btn btn-info waves-effect">EDIT</a></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Basic Examples -->
</div>
